.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 64px - 65px);
  // background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
